<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingresoMedico</title>
</head>
    
<body>   
    <!--<p id="par1">hazme click</p> -->
    
    <!--<button onclick="alert('hizo clic')">hazme click</button> -->
    <input id="especialidad" type="text">
    <input id="no_cedula" type="number">
    
    <button id="enviar">enviar</button>

    <Script src="nuevoPaciente.js"></Script>
</body>
</html>